# How to complete this assignment
First, download [this Kaggle dataset](https://www.kaggle.com/hugomathien/soccer) and extract *sqlite* database. You may need to register at https://www.kaggle.com/ beforehand. Then complete 15 graded tasks below, the score is given in brackets. Finally submit the resulting `.ipynb` file to rs-app Auto-test.

- Do not delete or rename the variables given before the inscription `#your code here`, they are needed for the correct verification.
- Do not change the code in the last Notebook cell, it is required for the server check.
- Your Notebook must run completely without errors to be graded! Please check everything before submission by going *Cell -> Run All*

## Some important notes
- If you need to **calculate the number of "something"** that means we expect you to assign an Integer to the given variable
- If you need to **make a list of "something"** we expect you to assign a Python list with appropriate values to the given variable
- If you need to find a **specifiс player, day of the week, team, etc.** we expect you to assign a String with the full name of the entity to the given variable (`player_name`, day of week full name, `team_name`, etc.)

In [1]:
import sqlite3
import pandas as pd
import os

pd.set_option('display.max_column', None)

In [2]:
# Leave that code unchanged, it is required for the server check!
db = sqlite3.connect(os.environ.get("DB_PATH") or 'database.sqlite')

In [3]:
# You may load the data from SQL table directly to the Pandas dataframe as
player_data = pd.read_sql("SELECT * FROM Player;", db)

In [4]:
player_data[1:4]

,id,player_api_id,player_name,player_fifa_api_id,birthday,height,weight
1,2,155782,Aaron Cresswell,189615,1989-12-15 00:00:00,170.18,146
2,3,162549,Aaron Doran,186170,1991-05-13 00:00:00,170.18,163
3,4,30572,Aaron Galindo,140161,1982-05-08 00:00:00,182.88,198

**Task 1 (0.25 point).** Calculate the number of players with a height between 180 and 190 inclusive

In [5]:
players_180_190 = len(player_data[(player_data['height'] <= 190) & (player_data['height'] >= 180)])
players_180_190

5925

**Task 2 (0.25 point).** Calculate the number of players born in 1980. <br>
**Hint:** you may want to cast your 'birthday' column to DateTime type by [pandas.to_datetime](https://pandas.pydata.org/docs/reference/api/pandas.to_datetime.html)

In [6]:
player_data['birthday'] = pd.to_datetime(player_data['birthday'], yearfirst=True, format="%Y-%m-%d %X", )

players_1980 = len(player_data[player_data['birthday'].dt.year == 1980])
players_1980

434

**Task 3 (0.25 point).** Make a list of the top 10 players with the highest weight sorted in descending order. If there are several players with the same weight put them in the lexicographic order by name.

In [7]:
highest_players = player_data.sort_values(by=['weight', 'player_name'], ascending=(False, True))\
                                            .head(10)['player_name'].values.tolist()
highest_players

['Kristof van Hout',
 'Tim Wiese',
 'Jeroen Verhoeven',
 'Ishmael Miller',
 'Cassio',
 'Christopher Samba',
 'Lars Unnerstall',
 'Marcus Hahnemann',
 'Abdoulaye Faye',
 'Enoch Showunmi']

**Task 4 (0.5 point).** Make a list of tuples containing years along with the number of players born in that year from 1980 up to 1990. <br>
**Structure example**: [(1980, 123), (1981, 140) ..., (1990, 83)] -> There were born 123 players in 1980, there were born 140 players in 1981 and etc.

In [11]:
years_born_players = [(curent_year, len(player_data[player_data['birthday'].dt.year == curent_year])) \
                      for curent_year in range(1980, 1991)]

In [12]:
years_born_players

[(1980, 434),
 (1981, 475),
 (1982, 487),
 (1983, 541),
 (1984, 607),
 (1985, 593),
 (1986, 710),
 (1987, 722),
 (1988, 802),
 (1989, 723),
 (1990, 696)]

**Task 5 (0.5 point).** Calculate the mean and the standard deviation of the players' **height** with the name **Adriano**. <br>
**Note:** Name is represented by the first part of `player_name`.

In [13]:
player_data[player_data['player_name'].str.contains(r'^\bAdriano')]

,id,player_api_id,player_name,player_fifa_api_id,birthday,height,weight
184,185,167648,Adriano De Pierro,193351,1991-01-11,185.42,170
185,186,280969,Adriano Facchini,205122,1983-03-12,187.96,172
186,187,39190,Adriano Ferreira Pinto,163653,1979-12-10,177.80,179
187,188,172172,Adriano Jose de Lara,193874,1987-12-09,185.42,190
188,189,39199,Adriano Pereira da Silva,135530,1982-04-03,180.34,165
189,190,38122,Adriano Russo,137419,1987-06-06,185.42,159
190,191,121923,Adriano,183243,1982-01-21,175.26,168
191,192,30690,Adriano,106019,1982-02-17,187.96,194
192,193,33992,Adriano,164082,1984-10-26,172.72,161
193,194,41109,Adriano,152769,1980-01-29,182.88,176

In [14]:
adriano_mean, adriano_std = (player_data[player_data['player_name'].str.contains(r'^\bAdriano')]['height'].mean(), \
                             player_data[player_data['player_name'].str.contains(r'^\bAdriano')]['height'].std() )

In [15]:
adriano_mean, adriano_std

(182.118, 5.361479480723788)

**Task 6 (0.75 point).** How many players were born on each day of the week? Find the day of the week with the minimum number of players born.

In [16]:
d = {0: 'Monday',
     1: 'Tuesday',
     2: 'Wednesday',
     3: 'Thursday',
     4: 'Friday',
     5: 'Saturday',
     6: 'Sunday',}
dow_with_min_players_born = d[min([(num_of_the_day, len(player_data[player_data['birthday'].dt.dayofweek == num_of_the_day])) \
                      for num_of_the_day in range(0, 7)], key=lambda x: x[1])[0]]

dow_with_min_players_born

'Sunday'

**Task 7 (0.75 point).** Find a league with the most matches in total. If there are several leagues with the same amount of matches, take the first in the lexical order.

In [17]:
league_data = pd.read_sql("SELECT * FROM League", db)
mathes_data = pd.read_sql("SELECT * FROM Match", db)
# Вариант 1
league_most_matches = league_data[league_data['id'] == max([(num_of_league_id, len(mathes_data[mathes_data['league_id'] == num_of_league_id])) \
                      for num_of_league_id in league_data['id']], key=lambda x: (x[1], -x[0]))[0]]['name'].values.tolist()[0]

In [18]:
# Вариант 2

In [72]:
indexes = mathes_data['league_id'].value_counts().head().index.to_list()

In [73]:
league_data

1729     380
4769     380
10257    380
21518    380
7809     306
13274    306
17642    306
1        240
15722    240
19694    228
24558    180
Name: league_id, dtype: int64

In [20]:
league_most_matches

'England Premier League'

**Task 8 (1.25 point).** Find a player who participated in the largest number of matches during the whole match history. Assign a `player_name` to the given variable

In [21]:
max_matches_player = max_matches_player = player_data[player_data['player_api_id'] == max([(player_id, len(mathes_data[mathes_data[f'{x}'] == player_id])) \
     for x in ['home_player_'+str(num) for num in range(1,12)] \
     for player_id in player_data['player_api_id'] ], key=lambda k: k[1])[0]]['player_name'].values.tolist()[0]

In [22]:
max_matches_player

'Steve Mandanda'

In [23]:
mathes_data['home_player_1'].value_counts()

31293.0     149
41097.0     145
26295.0     142
42422.0     141
31465.0     141
           ...
176682.0      1
41458.0       1
655544.0      1
150464.0      1
41948.0       1
Name: home_player_1, Length: 906, dtype: int64

In [24]:
player_data[player_data['player_api_id'] == 31293]

,id,player_api_id,player_name,player_fifa_api_id,birthday,height,weight
9993,10009,31293,Steve Mandanda,163705,1985-03-28,185.42,181

**Task 9 (1.5 point).** List top-5 tuples of most correlated **player's characteristics** in the descending order of the absolute [Pearson's coefficient](https://en.wikipedia.org/wiki/Pearson_correlation_coefficient) value.

**Note 1:** Players characteristics are all the columns in `Player_Attributes` table except `[id, player_fifa_api_id, player_api_id, date, preferred_foot, attacking_work_rate, defensive_work_rate]`). <br>
**Note 2:** Exclude duplicated pairs from the list. E.g. ('gk_handling', 'gk_reflexes') and ('gk_reflexes', 'gk_handling') are duplicates, leave just one of them in the resulting list.

**Hint:** You may use [dataframe.corr()](https://pandas.pydata.org/docs/reference/api/pandas.DataFrame.corr.html) for calculating pairwise Pearson correlation.

In [25]:
player_attrib = pd.read_sql("SELECT * FROM Player_Attributes", db)

In [26]:
for i in ['id', 'player_fifa_api_id', 'player_api_id', 'date', 'preferred_foot', 'attacking_work_rate', 'defensive_work_rate']:
    player_attrib.pop(i)

In [27]:
player_attrib_corr = player_attrib.corr()

In [28]:
from itertools import combinations as comb


top_correlated_features = list(comb([col for col in player_attrib.columns], 2))
top_correlated_features.sort(key=lambda x: abs(player_attrib_corr[x[0]][x[1]]), reverse=True)
top_correlated_features = top_correlated_features[0:5]

In [68]:
top_correlated_features

[('gk_positioning', 'gk_reflexes'),
 ('gk_handling', 'gk_reflexes'),
 ('gk_handling', 'gk_positioning'),
 ('standing_tackle', 'sliding_tackle'),
 ('marking', 'standing_tackle')]

**Task 10 (2 points).** Find top-5 most similar players to **Neymar** whose names are given. The similarity is measured as [Euclidean distance](https://en.wikipedia.org/wiki/Euclidean_distance) between vectors of players' characteristics (described in the task above). Put their names in a vector in ascending order by Euclidean distance and sorted by `player_name` if the distance is the same<br>
**Note 1:** There are many records for some players in the `Player_Attributes` table. You need to take the freshest data (characteristics with the most recent `date`). <br>
**Note 2:** Use pure values of the characteristics even if you are aware of such preprocessing technics as normalization. <br>
**Note 3:** Please avoid using any built-in methods for calculating the Euclidean distance between vectors, think about implementing your own.

In [29]:
player_attrib = pd.read_sql("SELECT * FROM Player_Attributes", db)

In [30]:
for i in ['id', 'player_fifa_api_id', 'preferred_foot', 'attacking_work_rate', 'defensive_work_rate']:
    player_attrib.pop(i)

In [31]:
player_data = pd.read_sql("SELECT * FROM Player", db)

In [32]:
neymar_vector = player_attrib[player_attrib['player_api_id'] == 19533].iloc[0][2:]

In [33]:
vectors = [(id, player_attrib[player_attrib['player_api_id'] == id].iloc[0][2:]) for id in player_data['player_api_id']]

In [44]:
import numpy as np

In [45]:
list_of_dist = []
for id, enother_one_player in vectors:
    #distanse
    dist = np.sqrt(np.sum([(a-b)*(a-b) for a, b in zip(neymar_vector, enother_one_player)]))
    list_of_dist.append((id, dist))

In [46]:
idx, values = zip(*list_of_dist)

a = pd.Series(values, idx)

In [47]:
neymar_similarities = [player_data[player_data['player_api_id'] == id]['player_name'].values[0] for id in a.sort_values()[1:6].index]

In [48]:
neymar_similarities

['Paulo Dybala',
 'Eden Hazard',
 'Giovani dos Santos',
 'Arjen Robben',
 'Lionel Messi']

**Task 11 (1 point).** Calculate the number of home matches played by the **Borussia Dortmund** team in **Germany 1. Bundesliga** in season **2008/2009**

In [49]:
borussia_dortmund_team_api_id = 9789
germany_1_bundesliga_id = 7809

In [50]:
mathes_data = pd.read_sql("SELECT * FROM Match", db)

In [51]:
mathes_data_borussia = mathes_data[(mathes_data['league_id'] == germany_1_bundesliga_id) & \
                          (mathes_data['home_team_api_id'] == borussia_dortmund_team_api_id) & \
                          (mathes_data['season'] == "2008/2009")]

In [53]:
borussia_bundesliga_2008_2009_matches = len(mathes_data_borussia)

In [54]:
borussia_bundesliga_2008_2009_matches

17

**Task 12 (1 point).** Find a team having the most matches (both home and away!) in the **Germany 1. Bundesliga** in **2008/2009** season. Return number of matches.

In [55]:
bundesliga_2008_2009_matches = mathes_data[(mathes_data['league_id'] == germany_1_bundesliga_id) & \
                                           (mathes_data['season'] == "2008/2009") ]

In [56]:
team_data = pd.read_sql("SELECT * FROM Team", db)

In [57]:
lst = []
for i in team_data['team_api_id']:
    lst.append(len(bundesliga_2008_2009_matches[(bundesliga_2008_2009_matches['home_team_api_id'] == i) | \
                                           (bundesliga_2008_2009_matches['away_team_api_id'] == i)]))

In [58]:
team_most_matches_bundesliga_2008_2009 = max(lst)

**Task 13 (1 point).** Count total number of **Arsenal** matches (both home and away!) in the **2015/2016** season which they have won. <br><br>
**Note:** Winning a game means scoring **more** goals than an opponent.

In [79]:
team_data[team_data['team_long_name'] == 'Arsenal']['id'].values[0]

3459

In [59]:
arsenal_api_id = 9825

In [60]:
arsenal_won_matches_2015_2016 = len(mathes_data[((mathes_data['home_team_api_id'] == arsenal_api_id) & \
                                         (mathes_data['season'] == "2015/2016") & \
                                         (mathes_data['home_team_goal'] > mathes_data['away_team_goal'])) |\
                                       
                                        ((mathes_data['away_team_api_id'] == arsenal_api_id) & \
                                         (mathes_data['season'] == "2015/2016") & \
                                         (mathes_data['away_team_goal'] > mathes_data['home_team_goal']))])

In [74]:
arsenal_won_matches_2015_2016

20

**Task 14 (2 points).** Find a team with the highest win rate in the **2015/2016** season. Win rate means won matches / all matches. If there are several teams with the highest win rate return the first by name in lexical order

In [61]:
mathes_data = mathes_data[mathes_data['season'] == "2015/2016"]

In [62]:
team_data = pd.read_sql("SELECT * FROM Team", db)

In [63]:
def winrate(team_id):
    win = len(mathes_data[((mathes_data['home_team_api_id'] == team_id) & \
                           (mathes_data['home_team_goal'] > mathes_data['away_team_goal'])) |\
                                       
                          ((mathes_data['away_team_api_id'] == team_id) & \
                           (mathes_data['away_team_goal'] > mathes_data['home_team_goal']))])
    
    all_match = len(mathes_data[(mathes_data['home_team_api_id'] == team_id) | (mathes_data['away_team_api_id'] == team_id) ])
    if all_match != 0:
        return(win / all_match)
    else:
        return 0

    
    
lst = [(team_data[team_data['team_api_id'] == team_id]['team_long_name'].values.tolist()[0], winrate(team_id)) \
       for team_id in team_data['team_api_id'].values.tolist()]

In [64]:
lst.sort(key=lambda x: (x[1], x[0]), reverse=True)

In [65]:
team_highest_winrate_2015_2016 = lst[0][0]

In [66]:
team_highest_winrate_2015_2016

'SL Benfica'

In [67]:
lst

[('SL Benfica', 0.8529411764705882),
 ('FC Bayern Munich', 0.8235294117647058),
 ('Sporting CP', 0.7941176470588235),
 ('Paris Saint-Germain', 0.7894736842105263),
 ('PSV', 0.7647058823529411),
 ('Juventus', 0.7631578947368421),
 ('FC Barcelona', 0.7631578947368421),
 ('Real Madrid CF', 0.7368421052631579),
 ('Atlético Madrid', 0.7368421052631579),
 ('Ajax', 0.7352941176470589),
 ('FC Basel', 0.7222222222222222),
 ('Borussia Dortmund', 0.7058823529411765),
 ('Club Brugge KV', 0.7),
 ('Celtic', 0.6842105263157895),
 ('FC Porto', 0.6764705882352942),
 ('Napoli', 0.6578947368421053),
 ('Roma', 0.6052631578947368),
 ('Leicester City', 0.6052631578947368),
 ('Aberdeen', 0.5789473684210527),
 ('Piast Gliwice', 0.5666666666666667),
 ('Legia Warszawa', 0.5666666666666667),
 ('KAA Gent', 0.5666666666666667),
 ('Feyenoord', 0.5588235294117647),
 ('BSC Young Boys', 0.5555555555555556),
 ('Bayer 04 Leverkusen', 0.5294117647058824),
 ('AZ', 0.5294117647058824),
 ('Inter', 0.5263157894736842),
 ('Arsenal', 0.5263157894736842),
 ('Tottenham Hotspur', 0.5),
 ('RSC Anderlecht', 0.5),
 ('Olympique Lyonnais', 0.5),
 ('Manchester United', 0.5),
 ('Manchester City', 0.5),
 ('Borussia Mönchengladbach', 0.5),
 ('Villarreal CF', 0.47368421052631576),
 ('Southampton', 0.47368421052631576),
 ('OGC Nice', 0.47368421052631576),
 ('Heart of Midlothian', 0.47368421052631576),
 ('Fiorentina', 0.47368421052631576),
 ('Athletic Club de Bilbao', 0.47368421052631576),
 ('SC Braga', 0.47058823529411764),
 ('KV Oostende', 0.4666666666666667),
 ('KRC Genk', 0.4666666666666667),
 ('RC Celta de Vigo', 0.4473684210526316),
 ('AS Saint-Étienne', 0.4473684210526316),
 ('AS Monaco', 0.4473684210526316),
 ('FC Utrecht', 0.4411764705882353),
 ('FC Schalke 04', 0.4411764705882353),
 ('Lech Poznań', 0.43333333333333335),
 ('West Ham United', 0.42105263157894735),
 ('St. Johnstone FC', 0.42105263157894735),
 ('Sassuolo', 0.42105263157894735),
 ('SM Caen', 0.42105263157894735),
 ('Liverpool', 0.42105263157894735),
 ('Grasshopper Club Zürich', 0.4166666666666667),
 ('FC Luzern', 0.4166666666666667),
 ('Rio Ave FC', 0.4117647058823529),
 ('PEC Zwolle', 0.4117647058823529),
 ('Hertha BSC Berlin', 0.4117647058823529),
 ('Heracles Almelo', 0.4117647058823529),
 ('FC Groningen', 0.4117647058823529),
 ('1. FSV Mainz 05', 0.4117647058823529),
 ('Zagłębie Lubin', 0.4),
 ('Standard de Liège', 0.4),
 ('SV Zulte-Waregem', 0.4),
 ('Cracovia', 0.4),
 ('Motherwell', 0.39473684210526316),
 ('Milan', 0.39473684210526316),
 ('Lazio', 0.39473684210526316),
 ('LOSC Lille', 0.39473684210526316),
 ('FC Sion', 0.3888888888888889),
 ('N.E.C.', 0.38235294117647056),
 ('FC Paços de Ferreira', 0.38235294117647056),
 ('FC Arouca', 0.38235294117647056),
 ('Estoril Praia', 0.38235294117647056),
 ('Stoke City', 0.3684210526315789),
 ('Sevilla FC', 0.3684210526315789),
 ('SC Bastia', 0.3684210526315789),
 ('Ross County FC', 0.3684210526315789),
 ('Montpellier Hérault SC', 0.3684210526315789),
 ('Inverness Caledonian Thistle', 0.3684210526315789),
 ('Ruch Chorzów', 0.36666666666666664),
 ('Vitesse', 0.35294117647058826),
 ('VfL Wolfsburg', 0.35294117647058826),
 ('FC Twente', 0.35294117647058826),
 ('Stade Rennais FC', 0.34210526315789475),
 ('Real Sociedad', 0.34210526315789475),
 ('Genoa', 0.34210526315789475),
 ('Chievo Verona', 0.34210526315789475),
 ('Angers SCO', 0.34210526315789475),
 ('Sporting Charleroi', 0.3333333333333333),
 ('Pogoń Szczecin', 0.3333333333333333),
 ('Lechia Gdańsk', 0.3333333333333333),
 ('KV Mechelen', 0.3333333333333333),
 ('KV Kortrijk', 0.3333333333333333),
 ('Jagiellonia Białystok', 0.3333333333333333),
 ('SC Heerenveen', 0.3235294117647059),
 ('Hamburger SV', 0.3235294117647059),
 ('Watford', 0.3157894736842105),
 ('UD Las Palmas', 0.3157894736842105),
 ('Torino', 0.3157894736842105),
 ('Swansea City', 0.3157894736842105),
 ('RCD Espanyol', 0.3157894736842105),
 ('Partick Thistle F.C.', 0.3157894736842105),
 ('Málaga CF', 0.3157894736842105),
 ('Girondins de Bordeaux', 0.3157894736842105),
 ('FC Nantes', 0.3157894736842105),
 ('Empoli', 0.3157894736842105),
 ('Chelsea', 0.3157894736842105),
 ('Waasland-Beveren', 0.3),
 ('Podbeskidzie Bielsko-Biała', 0.3),
 ('Korona Kielce', 0.3),
 ('SV Werder Bremen', 0.29411764705882354),
 ('FC Ingolstadt 04', 0.29411764705882354),
 ('CS Marítimo', 0.29411764705882354),
 ('CF Os Belenenses', 0.29411764705882354),
 ('CD Nacional', 0.29411764705882354),
 ('ADO Den Haag', 0.29411764705882354),
 ('1. FC Köln', 0.29411764705882354),
 ('Valencia CF', 0.2894736842105263),
 ('SD Eibar', 0.2894736842105263),
 ('Real Betis Balompié', 0.2894736842105263),
 ('Hamilton Academical FC', 0.2894736842105263),
 ('FC Lorient', 0.2894736842105263),
 ('Everton', 0.2894736842105263),
 ('En Avant de Guingamp', 0.2894736842105263),
 ('Dundee FC', 0.2894736842105263),
 ('Crystal Palace', 0.2894736842105263),
 ('Bournemouth', 0.2894736842105263),
 ('Bologna', 0.2894736842105263),
 ('Atalanta', 0.2894736842105263),
 ('FC Thun', 0.2777777777777778),
 ('FC St. Gallen', 0.2777777777777778),
 ('Śląsk Wrocław', 0.26666666666666666),
 ('Wisła Kraków', 0.26666666666666666),
 ('Termalica Bruk-Bet Nieciecza', 0.26666666666666666),
 ('Sporting Lokeren', 0.26666666666666666),
 ('Sint-Truidense VV', 0.26666666666666666),
 ('Górnik Łęczna', 0.26666666666666666),
 ('Vitória Guimarães', 0.2647058823529412),
 ('VfB Stuttgart', 0.2647058823529412),
 ('TSG 1899 Hoffenheim', 0.2647058823529412),
 ('SV Darmstadt 98', 0.2647058823529412),
 ('Moreirense FC', 0.2647058823529412),
 ('FC Augsburg', 0.2647058823529412),
 ('Eintracht Frankfurt', 0.2647058823529412),
 ('West Bromwich Albion', 0.2631578947368421),
 ('Udinese', 0.2631578947368421),
 ('Stade de Reims', 0.2631578947368421),
 ('Sampdoria', 0.2631578947368421),
 ('Real Sporting de Gijón', 0.2631578947368421),
 ('Palermo', 0.2631578947368421),
 ('Olympique de Marseille', 0.2631578947368421),
 ('Granada CF', 0.2631578947368421),
 ('Lugano', 0.25),
 ('Toulouse FC', 0.23684210526315788),
 ('Sunderland', 0.23684210526315788),
 ('Rayo Vallecano', 0.23684210526315788),
 ('Norwich City', 0.23684210526315788),
 ('Newcastle United', 0.23684210526315788),
 ('Kilmarnock', 0.23684210526315788),
 ('Getafe CF', 0.23684210526315788),
 ('Carpi', 0.23684210526315788),
 ('Tondela', 0.23529411764705882),
 ('Roda JC Kerkrade', 0.23529411764705882),
 ('Boavista FC', 0.23529411764705882),
 ('Royal Excel Mouscron', 0.23333333333333334),
 ('Oud-Heverlee Leuven', 0.23333333333333334),
 ('KVC Westerlo', 0.23333333333333334),
 ('RC Deportivo de La Coruña', 0.21052631578947367),
 ('Levante UD', 0.21052631578947367),
 ('GFC Ajaccio', 0.21052631578947367),
 ('Frosinone', 0.21052631578947367),
 ('Dundee United', 0.21052631578947367),
 ('Uniao da Madeira', 0.20588235294117646),
 ('Hannover 96', 0.20588235294117646),
 ('Excelsior', 0.20588235294117646),
 ('FC Zürich', 0.19444444444444445),
 ('FC Vaduz', 0.19444444444444445),
 ('Willem II', 0.17647058823529413),
 ('Vitória Setúbal', 0.17647058823529413),
 ('De Graafschap', 0.14705882352941177),
 ('Académica de Coimbra', 0.14705882352941177),
 ('Polonia Bytom', 0.13333333333333333),
 ('Hellas Verona', 0.13157894736842105),
 ('SC Cambuur', 0.08823529411764706),
 ('ES Troyes AC', 0.07894736842105263),
 ('Aston Villa', 0.07894736842105263),
 ('Évian Thonon Gaillard FC', 0),
 ('Zawisza Bydgoszcz', 0),
 ('Xerez Club Deportivo', 0),
 ('Wolverhampton Wanderers', 0),
 ('Wigan Athletic', 0),
 ('Widzew Łódź', 0),
 ('Widzew Łódź', 0),
 ('VfL Bochum', 0),
 ('Valenciennes FC', 0),
 ('VVV-Venlo', 0),
 ('União de Leiria, SAD', 0),
 ("US Boulogne Cote D'Opale", 0),
 ('UD Almería', 0),
 ('Tubize', 0),
 ('Trofense', 0),
 ('Stade Brestois 29', 0),
 ('St. Mirren', 0),
 ('Sparta Rotterdam', 0),
 ('SpVgg Greuther Fürth', 0),
 ('Siena', 0),
 ('Servette FC', 0),
 ('SC Paderborn 07', 0),
 ('SC Freiburg', 0),
 ('SC Beira Mar', 0),
 ('S.C. Olhanense', 0),
 ('Royal Excel Mouscron', 0),
 ('Reggio Calabria', 0),
 ('Real Zaragoza', 0),
 ('Real Valladolid', 0),
 ('Reading', 0),
 ('Rangers', 0),
 ('Racing Santander', 0),
 ('RKC Waalwijk', 0),
 ('RCD Mallorca', 0),
 ('RC Recreativo', 0),
 ('RC Lens', 0),
 ('RAEC Mons', 0),
 ('Queens Park Rangers', 0),
 ('Portsmouth', 0),
 ('Portimonense', 0),
 ('Polonia Bytom', 0),
 ('Pescara', 0),
 ('Parma', 0),
 ('P. Warszawa', 0),
 ('Odra Wodzisław', 0),
 ('Novara', 0),
 ('Neuchâtel Xamax', 0),
 ('Naval 1° de Maio', 0),
 ('NAC Breda', 0),
 ('Middlesbrough', 0),
 ('Livorno', 0),
 ('Lierse SK', 0),
 ('Leixões SC', 0),
 ('Lecce', 0),
 ('Le Mans FC', 0),
 ('Le Havre AC', 0),
 ('Karlsruher SC', 0),
 ('KSV Roeselare', 0),
 ('KSV Cercle Brugge', 0),
 ('KAS Eupen', 0),
 ('Hércules Club de Fútbol', 0),
 ('Hull City', 0),
 ('Hibernian', 0),
 ('Grenoble Foot 38', 0),
 ('Go Ahead Eagles', 0),
 ('Gil Vicente FC', 0),
 ('GKS Bełchatów', 0),
 ('Fulham', 0),
 ('Fortuna Düsseldorf', 0),
 ('Feirense', 0),
 ('Falkirk', 0),
 ('FCV Dender EH', 0),
 ('FC Volendam', 0),
 ('FC St. Pauli', 0),
 ('FC Sochaux-Montbéliard', 0),
 ('FC Penafiel', 0),
 ('FC Metz', 0),
 ('FC Lausanne-Sports', 0),
 ('FC Energie Cottbus', 0),
 ('FC Dordrecht', 0),
 ('FC Aarau', 0),
 ('Elche CF', 0),
 ('Eintracht Braunschweig', 0),
 ('Dunfermline Athletic', 0),
 ('Dijon FCO', 0),
 ('DSC Arminia Bielefeld', 0),
 ('Córdoba CF', 0),
 ('Cesena', 0),
 ('Catania', 0),
 ('Cardiff City', 0),
 ('Cagliari', 0),
 ('CD Tenerife', 0),
 ('CD Numancia', 0),
 ('CA Osasuna', 0),
 ('Burnley', 0),
 ('Brescia', 0),
 ('Bolton Wanderers', 0),
 ('Blackpool', 0),
 ('Blackburn Rovers', 0),
 ('Birmingham City', 0),
 ('Beerschot AC', 0),
 ('Bari', 0),
 ('Arka Gdynia', 0),
 ('Amadora', 0),
 ('AS Nancy-Lorraine', 0),
 ('AJ Auxerre', 0),
 ('AC Bellinzona', 0),
 ('AC Arles-Avignon', 0),
 ('AC Ajaccio', 0),
 ('1. FC Nürnberg', 0),
 ('1. FC Kaiserslautern', 0)]

**Task 15 (2 points).** Determine the team with the maximum days' gap between matches in **England Premier League 2010/2011 season**. Return number of days in that gap. <br>
**Note**: a *gap* means the number of days between two consecutive matches of the same team.

In [81]:
mathes_data = pd.read_sql("SELECT * FROM Match", db)

In [82]:
mathes_data = mathes_data[(mathes_data['league_id'] == 1729) & (mathes_data['season'] == '2010/2011')]

In [83]:
mathes_data['date'] = pd.to_datetime(mathes_data['date'], yearfirst=True, format="%Y-%m-%d %X", )

In [84]:
mathes_data = mathes_data.sort_values(by=['date'])

In [85]:
lst = []
for team_id in team_data['team_api_id'].values.tolist():
    date_of_matches_team = mathes_data[(mathes_data['home_team_api_id'] == team_id) | (mathes_data['away_team_api_id'] == team_id)]['date']
    date_of_matches_team = date_of_matches_team.sort_values()
    
    if not date_of_matches_team.empty:
        start = date_of_matches_team[:1]
        lst_2 = []
        t = pd.to_datetime(['2011-11-11'])
        for num, match_date in enumerate(date_of_matches_team[1:]):
            lst_2.append(t + (match_date - start))
            start = match_date
        
        lst.append((max(lst_2), team_id))
        

x = pd.Series(lst)
x = x.sort_values(ascending=False)

highest_gap_england_2010_2011 = (x.head(1).values[0][0][0] - t)[0].days

In [180]:
highest_gap_england_2010_2011

18

In [28]:
assert(isinstance(players_180_190, int))
assert(isinstance(players_1980, int))

In [182]:
assert(len(highest_players) == 10)
assert(isinstance(highest_players, list))
for i in range(10):
    assert(isinstance(highest_players[i], str))

In [89]:
assert(len(years_born_players) == 11)
assert(isinstance(years_born_players, list))
for i in range(10):
    assert(isinstance(years_born_players[i], tuple))
    assert(isinstance(years_born_players[i][0], int))
    assert(isinstance(years_born_players[i][1], int))

In [90]:
assert(isinstance(adriano_mean, float))
assert(isinstance(adriano_std, float))

In [91]:
assert(isinstance(dow_with_min_players_born, str))

In [92]:
assert(isinstance(league_most_matches, str))

In [93]:
assert(isinstance(max_matches_player, str))

In [94]:
assert(len(top_correlated_features) == 5)
assert(isinstance(top_correlated_features, list))
for i in range(5):
    assert(isinstance(top_correlated_features[i], tuple))
    assert(isinstance(top_correlated_features[i][0], str))
    assert(isinstance(top_correlated_features[i][1], str))

In [95]:
assert(len(neymar_similarities) == 5)
assert(isinstance(neymar_similarities, list))
for i in range(5):
    assert(isinstance(neymar_similarities[i], str))

In [96]:
assert(isinstance(borussia_bundesliga_2008_2009_matches, int))

In [97]:
assert(isinstance(team_most_matches_bundesliga_2008_2009, int))

In [98]:
assert(isinstance(arsenal_won_matches_2015_2016, int))

In [99]:
assert(isinstance(team_highest_winrate_2015_2016, str))

In [100]:
assert(isinstance(highest_gap_england_2010_2011, int))

### Warning! Do not change anything in the area below

In [491]:
with open('student_answers.txt', 'w') as file:
    file.write(f"{players_180_190}\n")
    file.write(f"{players_1980}\n")
    file.write(f"{highest_players}\n")
    file.write(f"{years_born_players}\n")
    file.write(f"{round(adriano_mean, 3)} {round(adriano_std, 3)}\n")
    file.write(f"{dow_with_min_players_born}\n")
    file.write(f"{league_most_matches}\n")
    file.write(f"{max_matches_player}\n")
    file.write(f"{';'.join(['%s,%s' % tup for tup in top_correlated_features])};\n")
    file.write(f"{neymar_similarities}\n")
    file.write(f"{borussia_bundesliga_2008_2009_matches}\n")
    file.write(f"{team_most_matches_bundesliga_2008_2009}\n")
    file.write(f"{arsenal_won_matches_2015_2016}\n")
    file.write(f"{team_highest_winrate_2015_2016}\n")
    file.write(f"{highest_gap_england_2010_2011}\n")